.container {
  border: 2px red solid;
  justify-content: space-between;
  display: flex;
  /* gap: .5rem; */
  padding: 1rem;
}

.taskNotDone {
  font-weight: 100;
}

.taskDone {
  font-weight: 100;
  text-decoration: line-through;
}

.place {

}